#container {
  display: flex;
}

h1 {
  text-align: center;
}

article {
  border: 2px solid purple;
  margin: 2px;
  flex-basis: 33%;
  padding: 5px;
}

ul#docks {
  list-style-type: "\26F5";
}

ul#haulers {
  list-style-type: "\1F6A2";
}

ul#ships {
  list-style-type: "\1F6A4";
}
